body {
  padding-top: 8rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeUpAndIn {
    from {margin-top:100px; opacity: 0;}
    to {margin-top:0px; opacity: 1}
}

.signUpPage {
    animation:fadeUpAndIn 0.5s ease-out forwards;
    top:8rem !important;
    background:white;
}

.logo {
    width:300px;
}

.title-page-icon {
    text-align:center;
}

.title-page-icon span {
    font-size:92px;
}